<form novalidate>
    <div class="row form-group">
        <div class="col-md-6">
            <label for="">First Name</label>
            <input type="text" class="form-control" [(ngModel)]="employee.firstname">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label for="">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="employee.lastname">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label for="">Employee ID</label>
            <input type="text" class="form-control" [(ngModel)]="employee.employeeID">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <button type="submit" class="btn btn-default" (click)="save(employee)">Save</button>
        </div>
    </div>
</form>